<div class="container">
  <div class="row">
      <div class="col-12 col-lg-8">
     </div>
     
     <div class="col-12 col-lg-4">
        <div class="cart-summary">
            <%= render "form" %>
        </div>
    </div>
</div>
</div>
